* {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

.version {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 45px;
    height: auto;
    background-color: rgb(0, 0, 0, 0.2);
}

.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../image/bg.jpg);
    background-size: cover;
}

.wh {
    background-color: rgb(255, 255, 255, 0.90);
}

.head {
    position: fixed;
    top: 0;
    height: 10%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rabel {
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 1%;
    background-color: black;
    color: white;
}

.dummy {
    height: 1px;
    width: 82.5%;
    text-align: center;
    background-color: black;
}

.article {
    width: 80%;
    height: 85%;
    position: fixed;
    top: 10.5%;
    left: 10%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.article::-webkit-scrollbar {
    display: none;
}

h1 {
    width: 100%;
    height: fit-content;
    margin-top: 20%;
    margin-bottom: 20%;
}

h2 {
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
}

h3 {
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
}

h4 {
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
}

p {
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    margin-bottom: 10%;
}

img {
    width: auto;
    height: fit-content;
    max-width: 100%;
    max-height: 300px;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}



/*コードはこれで囲む*/
pre {
    width: auto;
    height: fit-content;
    max-height: 300px;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: scroll;
    word-break: keep-all;
    scrollbar-width: none;
    -ms-overflow-style: none;
    background-color: aliceblue;
}

pre::-webkit-scrollbar {
    display: none;
}

/*引用する文章はこれで囲んでもよい*/
blockquote {
    width: auto;
    height: fit-content;
    max-height: 30%;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: scroll;
    word-break: keep-all;
    background-color: rgb(186, 186, 186);
}

/*ddはスペースに使います*/
dd {
    width: 0;
    height: 5%;
}

.head a {
    display: flex;  
    text-decoration: none;
}

@media screen and (min-width: 550px) {
    img {
        width: auto;
        height: fit-content;
        max-width: 100%;
        max-height: 300px;
        align-items: center;
        display: flex;
        margin: auto;
        margin-top: 3%;
        margin-bottom: 3%;
    }

    pre {
        width: auto;
        height: fit-content;
        max-height: 300px;
    }

    blockquote {
        width: auto;
        height: fit-content;
        max-height: 300px;
    }
}

@media screen and (min-width: 1000px) {

    .dummy {
        height: 1px;
        width: 52.5%;
        text-align: center;
        background-color: black;
    }
    
    .article {
        width: 50%;
        height: 85%;
        position: fixed;
        top: 10.5%;
        left: 25%;
        overflow: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    img {
        width: auto;
        height: fit-content;
        max-height: 400px;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    pre {
        width: auto;
        height: fit-content;
        max-height: 400px;
    }

    blockquote {
        width: auto;
        height: fit-content;
        max-height: 400px;
    }

}


.quote-003 {
    max-width: 500px;
    position: relative;
    padding: 3em 2.5em 2em 3.5em;
    color: #1b1b1b;
    background-color: #f2f6fc;
}

.quote-003::before {
    display: inline-block;
    position: absolute;
    top: 1em;
    left: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%232589d0%22%20d%3D%22M21.8%2012H18V9c0-1.7%201.3-3%203-3h.4c.6%200%201.1-.5%201.1-1.1V2.6c0-.6-.5-1.1-1.1-1.1H21c-4.1%200-7.5%203.4-7.5%207.5v11.2c0%201.2%201%202.2%202.2%202.2h6c1.2%200%202.2-1%202.2-2.2v-6C24%2013%2023%2012%2021.8%2012zM8.2%2012H4.5V9c0-1.7%201.3-3%203-3h.4C8.5%206%209%205.5%209%204.9V2.6c0-.6-.5-1.1-1.1-1.1h-.4C3.4%201.5%200%204.9%200%209v11.2c0%201.2%201%202.2%202.2%202.2h6c1.2%200%202.2-1%202.2-2.2v-6c.1-1.2-.9-2.2-2.2-2.2z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

.quote-003 p {
    margin-top: 0;
}

.quote-003 cite {
    display: block;
    color: #6a6a6a;
    font-size: .8em;
    text-align: right;
}